<h1>RxJS Insights Angular Demo</h1>

<p>
  Click one of the buttons below to run some rxjs code. Open the browser console
  to see the observables and/or subscribers and start playing around.
</p>

<p>
  Tip: expand the "More" button next to the logged subscriber and invoke the
  property getter of "inspect events flow".
</p>

<p>
  Exercise: can you guess why the "Async example" listing looks different when it's run outside of the NgZone?
</p>

<button (click)="runSimple()">Simple example</button>
<button (click)="runComplex()">Complex example</button>
<button (click)="runAsync()">Async example</button>
<button (click)="runAsyncOutsideAngular()">Async example (outside NgZone)</button>
<button (click)="runShared()">Shared example</button>
